/* body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Lato", sans-serif;
}

.clock {
	height: 100vh;
	width: 100%;
	background-color: #000;
	color: cyan;
	display: grid;
	place-items: center;
	font-size: 50px;
} */
*,
*::before,
*::after{
    content: "";
	margin: 0;
	box-sizing: border-box;
}
body{
	height: 100vh;
	flex-direction: column;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: monospace;
	color: white;
	background-color: #fff480;
    display: flex;
	justify-content: center;
	align-items: center;
}
span{
    color: #262626;
	position: absolute;
	bottom: 10%;
}
#clock{
	height: 60px;
	width: 160px;
	border: 3px solid black;
	border-radius: 2px;
	background-color: #b4ffdc;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(1.5);
}
#clock:hover{
	animation: alarm 0.1s infinite;
}
#clock::before{
	height: 30px;
	width: 6.6666666667px;
	position: absolute;
	border-radius: 0 2px 2px 0;
	transform: translateX(82.1578947368px);
	background-image: repeating-linear-gradient(#595959 0 1%,black 0 1.5%);
}
#clock::after{
	height: 4px;
	width: 40px;
	position: absolute;
	background-image: linear-gradient(
		to right,
		#262626 0 40%,
		transparent 0 60%,
		#262626 0 100%
	);
	transform: translateY(-31.914893617px) translateX(-30px);
}